@font-face{
    font-family: fontawesome_solid;
    src: url(../fontawesome-5.10.2/webfonts/fa-solid-900.woff)
}
@font-face{
    font-family: fontawesome_brand;
    src: url(../fontawesome-5.10.2/webfonts/fa-brands-400.woff)
}

body{
    color: #fff;
    font-family: serif;
    background-image: url('../img/nature1.jpg');
    background-attachment: fixed;
}
#my_container{
    /*! background-repeat: no-repeat; */
    /*! background-size: cover; */
    width:100%;
    height: 100%;
}
#nav{
    background-color: rgba(0, 0, 0, 0.8);
    width:50px;
    height: 100%;
    position: fixed;
    left: 0%;
    z-index: 1;
    top: 0%;
}
#nav_but{
    position: relative;
    top:26%;
}
#nav a{
    display: block;
    font-size: 25px;
    padding: 23%;
    margin-bottom: 20%;
    color: rgb(255,255,255,0.8);
}
.tooltip{
    font-size: 14px;
    position: absolute;
    top: 24%;
    left: 95%;
    background-color: #1a1a1aff;
    padding: 10%;
    border-radius: 10%;
}
.brand{
    font-family: fontawesome_brand;
}
.solid{
    font-family: fontawesome_solid;
}
/* theme text color */
.text-color-l1{
    color:#3377ff;
}
.active{
    color: rgb(0,0,0,0.8) !important;
    background-color: rgb(255,255,255,0.8);
}
.active .w3-text{
    color: #000;;
    background-color: rgb(255,255,255,0.8);
}
.bold{
    font-weight: bolder;
}
.trans_white{
        background-color: rgba(255, 255, 255, 0.7);
    }
#main_bg {
  width: 100%;
  height: 100%;
  position: fixed;
}
#intro{
    animation: opac 2s;
    position: static;
    margin-bottom: 2%;
    margin-left: 57%;
    background-color: rgb(255,255,255,0.8);
    color: #000;
    padding: 2%;
    width: 43%;
    margin-top: 170px;

}
#service_list{
    animation: opac 3s;
    position: static;
    margin-left: 25%;
    width: 78%;
    margin-top: 250px;
    margin-bottom: 48%;
}
#port_list{
    animation: opac 3s;
    position: static;
    margin-left: 25%;
    width: 78%;
    margin-top: 250px;
    margin-bottom: 45%;
}
.serv{
    float: left;
    width: 29%;
    margin: 16px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 7px;
    height: 250PX;
}
.ico{
    margin-left: 34%;
    font-size: 80px;
}
#cms{
    margin-left: 30%;
    width: 40%;
}
#msg{
    /* styles the textarea in the contact form */
    border-radius: 0px 0px 10px 0px;
}
#serv_head, #port_head{
    margin-left: 16px;
    background-color: rgb(255,255,255,0.8);
    border-radius: 7px;
    width: 93.1%;
    color: #000;
}
#contact_head{
    color:#000;
    border-radius: 10px 10px 0px 0px;
}
#serv_head h1, #port_head h1{
    margin-left: 39%;
}
.serv h3{
    text-align: center;
}
#m01{
    width: 100%;
}
#caption{
    position: relative;   
    bottom: 72%;
    color: #fff;
        height: 100%;
    background-color:
        height: 100%; rgba(0, 0, 0, 0.5);
    padding: 3% 0%;
        height: 100%;
    width: 93%;
        height: 100%;
    left: 4%;
    display: none;
}
#caption:hover{
    display: block;
}
#mob, #desk, #tab{
    position: relative;
}
#mob{
    top: 40px;
    left: 24px;
}
#tab{
    top: 40px;
    right: 24px;
}
#responsive {
    font-size: 40px;
    margin-left: 24%;
    margin-bottom: 12%;
}
#footer {
    position: static;
    font-size: 12px;
}
#contact_section{
    position: static;
    margin-left: 34%;
    margin-top: 12%;
    width: 65%;
    margin-bottom: 5%;
}
.port{
    float: left;
    width: 29%;
    margin: 16px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 7px;
    height: 250PX;
}
.port_popup {
    width: auto;
    margin-left: 11%;
    margin-top: -3%;
}





@media (max-width: 1025px){
    /* start of style for computers with medium screen */
    
    #intro {
        animation: opac 2s;
        position: unset;
        margin-bottom: 19%;
        margin-left: 54%;
        background-color: rgb(255,255,255,0.8);
        color: #000;
        padding: 2%;
        width: 46%;
        margin-top: 22%;
    }
    #service_list, #port_list {
        animation: opac 3s;
        position: static;
        width: 78%;
        margin-bottom: 65%;
        margin-top: 22%;
    }
    #serv_head, #port_head {
        margin-left: 6px;
        background-color: rgb(255,255,255,0.8);
        border-radius: 7px;
        width: 99%;
        color: #000;
        margin-bottom: -4px;
    }
    .serv {
        float: left;
        width: 31%;
        margin: 6px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        border-radius: 7px;
        height: 289px;
    }
    .proj_title{
        font-size: 18px;
        font-weight: bolder;
    }
    .proj_title ~ p{
        text-align: center;
        text-align: -moz-center;
    }
    .ico {
        margin-left: 33%;
        font-size: 75px;
    }
    .port {
        float: left;
        width: 31%;
        margin: 6px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        border-radius: 7px;
        height: 220px;
    }
    .port_popup {
        width: auto;
        margin-left: 11%;
        margin-top: -3%;
    }
    #contact_section{
        margin-bottom: 20%;
        margin-top: 20%;
    }




}




@media screen and (max-width: 991px){
    /* start of large tablet styles */

    #nav_but {
        position: relative;
        top: 16%;
    }
    #intro {
        animation: opac 2s;
        position: unset;
        margin-bottom: 11%;
        margin-left: 22%;
        background-color: rgb(255,255,255,0.8);
        color: #000;
        padding: 2%;
        width: 60%;
        margin-top: 15%;
        border-radius: 10px 10px 0px 0px;
    }
    #service_list, #port_list {
        animation: opac 3s;
        position: static;
        margin-top: 10%;
        width: 65%;
        margin-left: 20%;
        margin-bottom: 55%;
    }
    .serv {
        float: left;
        width: 49%;
        margin-top: 6px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        border-radius: 7px;
        height: 289px;
        margin-right: -1px;
    }
    .port {
        float: left;
        width: 49%;
        margin-top: 6px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        border-radius: 7px;
        height: 220px;
        margin-right: -1px;
    }
    .port_popup {
        width: auto;
        margin-left: 12%;
        margin-top: -6%;
    }



}




@media screen and (max-width: 769px){
    /* start of medium tablet styles */

    #intro {
        animation: opac 2s;
        position: unset;
        margin-top: 20%;
        margin-bottom: 12%;
        background-color: rgb(255,255,255,0.8);
        color: #000;
        padding: 2%;
        width: 90%;
        margin-left: 5%;
        margin-right: 2%;
    }
    /* style for the menubar buttons and label starts here */
    #nav {
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 70px;
        position: fixed;
        left: 0%;
        z-index: 1;
        padding-bottom: 1%;
    }
    #nav_but {
        position: relative;
        top: 26%;
        left: 40%;
    }
    #nav a {
        display: inline;
        font-size: 25px;
        padding: 3.9% 3%;
        color: rgb(255,255,255,0.8);
        text-decoration: none;
        margin-bottom: 0%;
    }
    .w3-tooltip .w3-text {
        display: block;
    }
    .active .w3-text {
        color: #000;
        background-color: transparent;
    }
    #home{
        position: relative;
    }
    .tooltip {
        font-size: 14px;
        position: absolute;
        top: 75%;
        left: 17%;
        padding: 0%;
        border-radius: 0%;
        background-color: transparent;
    }
    #portfolio .tooltip{
        left: 6%;
    }
    #contact .tooltip{
        left: 6%;
    }
    #blog .tooltip{
        left: 15%;
    }
    #service .tooltip{
        left: 8%;
    }
    /* style for the menubar buttons and label ends here */
    #service_list, #port_list {
        animation: opac 3s;
        position: unset;
        margin-top: 20%;
        width: 96%;
        margin-left: 1.6%;
        margin-bottom: 72%;
    }
    #contact_section{
        margin: 21% 1% 11% 5%;
        width: 90%;
    }
    .ico {
        margin-left: 39%;
        font-size: 75px;
    }
    #responsive {
        font-size: 40px;
        margin-left: 28%;
        margin-bottom: 12%;
    }
    .port_popup {
        width: auto;
        margin: auto;
        
    }
}



@media (max-width: 736px){
    
    #nav{
        /*height: 64px;*/
    }
}


@media (width: 667px){
   .port, .serv{
        margin-right: 0px;
   }
}



@media screen and (max-width: 480px){
    /* start of phones styles */

    #nav_but {
        position: relative;
        top: 26%;
        left: 1%;
    }
    #nav a {
        display: inline;
        font-size: 20px;
        padding: 32px 24px;
        color: rgb(255,255,255,0.8);
        text-decoration: none;
        margin-bottom: 0%;
    }
    #intro {
        animation: opac 2s;
        position: unset;
        background-color: rgb(255,255,255,0.8);
        color: #000;
        padding: 2%;
        width: 96%;
        margin-top: 50%;
        margin-bottom: 50%;
        margin-left: 2%;
    }
    #service_list, #port_list {
        animation: opac 3s;
        position: unset;
        width: 97%;
        margin-left: 0%;
        margin-top: 40%;
    }
    .serv {
        float: left;
        width: 100%;
        margin: 6px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        border-radius: 7px;
        height: 289px;
    }
    .port {
        float: left;
        width: 100%;
        margin: 6px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        border-radius: 7px;
        height: 220px;
    }
    .port_popup {
        width: 100% !important;
        margin: auto;
    }
    #contact_section {
        width: 96%;
        margin-left: 2%;
        margin-top: 50%;
        margin-bottom: 47%;
    }
    .trans_white{
        background-color: rgba(255, 255, 255, 0.7);
    }
    #contact_head{
        padding: 1%;
    }
}


@media (max-width: 375px){
    #nav{
        height: 70px;
    }
    #nav a{
        font-size: 16px;
    }
    #nav_but {
        position: relative;
        top: 17px;
        left: 10px;
    }
}

@media (width: 320px){
    body{
        font-size: 14px;
    }
    h1{
        font-size: 33px;
    }
    #nav{
        height: 70px;
        position: fixed;
        margin-top: 0%;
    }
    #nav a {
        display: inline;
        font-size: 19px;
        padding: 32px 18px;
        color: rgb(255,255,255,0.8);
        text-decoration: none;
        margin-bottom: 0%;
    }
    #nav_but {
        position: relative;
        top: 17px;
        left: 10px;
    }
    .tooltip{
        font-size: 9px;
    }
    #service .tooltip, #portfolio .tooltip, #contact .tooltip {
        left: 17%;
    }
    #blog .tooltip, #home .tooltip{
        left: 15px;
    }
    #serv_head h1, #port_head h1 {
        margin-left: 25%;
    }
    .ico {
        margin-left: 34%;
        font-size: 75px;
    }
    #responsive {
        font-size: 40px;
        margin-left: 21%;
        margin-bottom: 12%;
    }
    #intro {
        animation: opac 2s;
        position: unset !important;
        background-color: rgb(255,255,255,0.8);
        color: #000;
        padding: 2%;
        width: 96% !important;
        margin-left: 2%;
    }
    #service_list, #port_list {
        animation: opac 3s;
        position: unset;
        width: 96%;
        margin-left: 0%;
    }
    #contact_section {
        position: unset;
        width: 96%;
        margin-left: 2%;
    }
    .trans_white{
        background-color: rgba(255, 255, 255, 0.7);
    }
    #footer {
        position: unset;
        top: 91%;
        font-size: 10px;
    }
    .so{
        padding-right: 1%;
    }
    #contact_head{
        padding: 1%;
    }
    #social{
        font-size: 14px;
    }
}





/*------------ media querries to check height -------------

@media (min-height: 1024px){
    #nav{
        margin-top: -40%;
    }
    #intro{
        margin-top: 40%;
    }
    #nav a{
        padding: 3.9% 2.6%;
    }
    #service_list, #port_list, #contact_section {
        margin-top: 40%;
    }
    footer{
        margin-top: 20%;
    }
}

@media (max-height: 960px){
    #intro{
        margin-top: 60%;
        margin-bottom: 23%;
    }
    #nav{
        margin-top: -60%;
    }
    #service_list, #port_list {
        margin-top: 60%;
    }
    #contact_section {
        margin-top: 60%;
    }
    footer{

        margin-top: 22%;
    
    }
}

@media (max-height: 736px){
    #intro {
        /*margin-top: 33%;*/
        /*margin-bottom: 18%;*//*
    }
    #nav{
        
    }
    #contact_section{
        margin-top: 60%;
    }
    .trans_white{
        background-color: rgba(255, 255, 255, 0.7);
    }
    #contact_head{
        padding:1% 0%;
        color: #000;
    }
    footer{
        margin-top: 31%;
    }
}

@media (height: 568px){
    #nav{
        margin-top: 0%;
    }
    #intro{
        margin-top: 35%;
    }
    #contact_section{
        margin-top: 50%;
        margin-bottom: 15%;
    }
    #service_list, #port_list {
        margin-top: 25%;
    }
}


@media (max-height: 414px){
    #nav {
        margin-top: -26%;
    }
    #nav_but {
        top: 15%;
    }
    #intro{
        margin-top: 26%;
        margin-bottom: -19%;
    }
    #service_list, #port_list{
        margin-top: 26%;
    }
    #contact_section {
        margin-top: 26%;
        margin-bottom: -21%;
    }
}*/