<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}<title>Boye Home</title>{% endblock %}
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        
        <!-- add aditional css in static file -->
        {% load static %}
        <link rel= "stylesheet" href="{% static 'css/w3.css' %}">
        <link rel= "stylesheet" href="{% static 'css/style.css' %}">
        <link rel= "stylesheet" href="{% static 'fontawesome-5.10.2/css/fontawesome.min.css' %}">
    </head>

    <body>
        <div class="" id="my_container">
            {% block aside %}
            <aside id="nav" class="w3-card">
                <div id="nav_but">
                    <a id="home" class="fa fa-home solid w3-tooltip" href="{% url 'index' %}">
                        <span class="w3-text tooltip">Home</span>
                    </a>
                    <a id="about" class="fa fa-cogs solid w3-tooltip" href="{% url 'services' %}">
                        <span class="w3-text tooltip">Services</span>
                    </a>
                    <a id="portfolio" class="fa fa-briefcase solid w3-tooltip" href="{% url 'portfolio' %}">
                        <span class="w3-text tooltip">Portfolio</span>
                    </a>
                    <a id="contact" class="fa fa-envelope solid w3-tooltip">
                        <span class="w3-text tooltip">Contact</span>
                    </a>
                    <a id="blog" class="fa fa-blog solid w3-tooltip">
                        <span class="w3-text tooltip">Blog</span>
                    </a>
                </div>
            </aside>
            {% endblock %}
            <section>
                {% block content %}{% endblock %}
            </section>
        </div>
        <script src = "./fontawesome-5.10.2/js/fontawesome.min"></script>
        {% block otherscript %}{% endblock %}
    </body>

</html>