{% extends "base_generic.html" %}

{% block content %}
    <div id="main_bg">
        <img src="../static/img/nature1.jpg" style="height: 100%;width: 100%;">
    </div>
    <div id="intro">
        <h1>Welcome to Boye.com</h1>
        <p class="w3-justify">
            This is the personal webpage of Adeboye Emmanuel Adedayo, a Software Developer and a Data Scientist.
            Emmanuel is a graduate of Biology(Storage Technology) from Federal University of Technology Akure, but his love for technology, the field of computer science, and providing solution to problems made him follow his passion, using computer science and its tools to provide solution to problems and answers to unanswered questions.                        
        </p>
        <p>
                My favourite tool is Python and can also work with Php, Html, CSS, JavaScript.
        </p>
    </div>
{% endblock %}

{% block otherscript %}
    <script>document.getElementById('home').classList.add('active');</script>
{% endblock %}
