{% extends "base_generic.html" %}

{% block content %}
    <div id="intro_section">
        <p id="welcome_msg" class="text-color-l1">
            welcome to my webpage!
        </p>
        <p class="text-color-l1" id="intro">
            Hello I'm Emmanuel Adeboye
        </p>
        <p class="text-color-l1" id="prof">
                        Software Developer - Data Scientist
        </p>
        <p class="text-color-l1" id="intro_body">
            Malesuada a erat facilisis, fringilla finibus ipsum. Suspendisse magna lectus, interdum non laoreet id, imperdiet hendrerit nulla. Duis non efficitur nunc.
        </p>
        <div id ="social_btn">
            <a class="fa fa-facebook brand text-color-l1 w3-large"></a>
            <a class="fa fa-twitter brand text-color-l1 w3-large"></a>
            <a class="fa fa-linkedin brand text-color-l1 w3-large"></a>
            <a class="fa fa-github brand text-color-l1 w3-large"></a>
            <a class="fa-envelope solid text-color-l1 w3-large"></a>
        </div>
        <div id="action-btn-group">
            <a class="w3-btn action-btn w3-round-xlarge">Read More</a>
            <a class="w3-btn action-btn w3-round-xlarge">Contact Me</a>
        </div>
    </div>
{% endblock %}